/***************************************Global****************************************/
.background{
	background-color: #F5F5F5;
	font-size: 14px;
	font-weight: bold;
}

.tips{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color:#ffffff;
	background-color: #98bf21;
}

.submit{
	float: left;
}

.reset{
	float: right;
}


/***************************************dTree****************************************/

.dtree {
	margin-top: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
}
.dtree .clip {
	overflow: hidden;
}

/***************************************µÇÂ¼****************************************/

body#loginbody{
	background-color: #E6E6FA;
}

div#login{
	margin: 100px auto;
	height: 370px;
	width: 330px;
	background-color: #E8F5FE;
	border: 4px solid #A7C942;
	font-size: 13px;
	font-weight: bold;
}

div#login table{
	margin: 20px auto;
}

div#login .input{
	width: 150px;
}

div#login h2{
	margin-top: 10px;
	text-align: center;
}

div#login table td#submit{
	float:left;
}

div#login table td#reset{
	float: right;
}
/***************************************set****************************************/

body#set body{
	background-color: #E6E6FA;
}

div#set{
	margin: 25px;
	height: 150px;
	width: 1200px;
	background-color: #E8F5FE;
	border: 4px solid #A7C942;
	font-size: 13px;
	font-weight: bold;
}

div#set table{
	margin: 20px auto;
}

div#set .input{
	width: 150px;
}

div#set h2{
	margin-top: 1px;
	text-align: center;
}

div#set table td#submit{
	float:left;
}

div#set table td#reset{
	float: right;
}
/**************************************navigator.php****************************************/

div#userDIV{
	position: absolute;
	bottom: 20px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
div#userDIV a {
	color: #333;
}

/**************************************upload_project.php****************************************/

div#upload_project{
	margin-top: 30px;
	margin-left: 0px;
}

div#upload_project table tr{
	height: 40px;
}

/**************************************show_projects.php****************************************/

.mytable{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  	width:100%;
  	border-collapse:collapse;
}

.mytable td, .mytable th {
  	font-size:1em;
  	border:1px solid #98bf21;
  	padding:3px 7px 2px 7px;
 }
 
.mytable a img
 {
	border:none;
 }
.mytable th {
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
 }
 
.mytable tr.alt td {
  color:#000000;
  background-color:#EAF2D3;
 }
 
 /**************************************Pagination.php****************************************/
 
 /*
 div.pagination {
	padding: 3px;
 	margin: 10px auto auto auto;
 	width: 600px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; 
	color: #A7C942;
}

div.pagination a:hover, div.pagination a:active {
	border: 1px solid #A7C942;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #A7C942;
		
		font-weight: bold;
		background-color: #A7C942;
		color: #FFF;
	}
div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
}
*/
div.pagination {
	margin: 10px auto auto auto;
	padding:3px;
	text-align:center;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	
	text-decoration: none; 
	color: #88AF3F;
}
div.pagination a:hover, div.pagination a:active {
	border:1px solid #85BD1E;
	color: #638425;
	background-color: #F1FFD6;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #B2E05D;
	font-weight: bold;
	background-color: #B2E05D;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}

