.background{
    background-color: #FFE4B5;
    font-size: 16px;
    font-weight: bold;
}

.tips{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #FF3030;
    background-color: #FFFACD;
}

.mytable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.mytable td, .mytable th{
    font-size: 1em;
    text-align:center;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

.mytable th{
    font-size:1.1em;
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#FFFFFF;
}

.mytable tr.alt td{
    color: #000000;
    background-color: #EAF2D3;
}
