<?xml version="1.0" encoding="utf-8"?>
<DATA>
    <MU>
        <MOD>5</MOD>
        <BACKUP>1</BACKUP>
        <IP seq = "1">192.168.1.51</IP>
        <IP seq = "2">192.168.1.52</IP>
        <IP seq = "3">192.168.1.53</IP>
        <IP seq = "4">192.168.1.54</IP>
    </MU>

    <SU>
        <MOD>6</MOD>
        <BACKUP>3</BACKUP>
        <IP seq = "1">192.168.1.51</IP>
        <IP seq = "2">192.168.1.52</IP>
        <!--
        <IP seq = "3">192.168.1.53</IP>
        <IP seq = "4">192.168.1.54</IP>
        <IP seq = "5">192.168.1.55</IP>
        <IP seq = "6">192.168.1.56</IP>
        -->
    </SU>
</DATA>
